footer
    .container
        ul.soial
            li 
                a(href="#" target="_blank")
                    i.fab.fa-facebook-f
            li 
                a(href="#" target="_blank")
                    i.fab.fa-twitter
            li 
                a(href="#" target="_blank")
                    i.fab.fa-instagram
    .copy
        .container
            img(src="../images/logo.png", alt="My photo", width="150").mb-3
            h2.mb-3 بيانات المؤسسه
            h3.pb-2 مؤسسة اتقان لعمل التصاميم
            h4.pb-2 سجل تجاري رقم :- 1011144889
            h4.pb-2 العنوان :-  4618 طريق المل فهد, حي السلام, 7294
            p
            | &copy; 2021 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            | Etiqan.com
            