footer
    .container
        ul.soial
            li 
                a(href="https://www.facebook.com/p0wer.50015" target="_blank")
                    i.fab.fa-facebook-f
            li 
                a(href="https://twitter.com/PowerMostafa2" target="_blank")
                    i.fab.fa-twitter
            li 
                a(href="https://www.instagram.com/power_mostafa/" target="_blank")
                    i.fab.fa-instagram
            li 
                a(href="https://api.whatsapp.com/send/?phone=+966550561364&text&app_absent=0" target="_blank")
                    i.fab.fa-whatsapp
    .copy
        .container
            p
            | &copy; 2021 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            | Power-mostafa.com 
            