footer
    .container
        ul.soial
            li 
                a(href="#" target="_blank")
                    i.fab.fa-facebook-f
            li 
                a(href="#" target="_blank")
                    i.fab.fa-twitter
            li 
                a(href="#" target="_blank")
                    i.fab.fa-instagram
    .copy
        .container
            p
            | &copy; 2021 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            | Etiqan.com
            