meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Etiqan || #{title}
style(media='screen', type='text/css').
    html{
        height: 100%;
    }
    body{height:100%;}
    #loading-screen {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    z-index: 1000;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #loader {
    margin: 100px auto;
    width: 120px;
    height: 120px;
    border: 16px solid #5DD2C2;
    border-top: 16px solid #00E6B3;
    border-radius: 50%;
    animation: spin 2s linear infinite, heart-beat 2s linear infinite;
    background-color: #fff;
    text-align: center;
    line-height: 120px;
    }


    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes heart-beat {
        55% { background-color: #fff; }
        60% { background-color: #5DD2C2; }
        65% { background-color: #fff; }
        70% { background-color: #5DD2C2; }
        100% { background-color: #fff; }
    }

script.
    window.onload = () => {
    setTimeout(() => {
        document.getElementById("loading-screen").remove();
        }, 1000); //wait for page load PLUS two seconds.
    };
    window.onbeforeunload = function () {
    window.scrollTo(0, 0);
    };
    //- if (location.protocol !== 'https:') {
    //- location.replace(`https:${location.href.substring(location.protocol.length)}`);
    //- }
script(async src="https://www.googletagmanager.com/gtag/js?id=AW-428117831")

//- Google Code
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-428117831');
    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
            window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-428117831/ep7GCImAsPUBEMeekswB',
            'transaction_id': '',
            'event_callback': callback
        });
            return false;
    }
    gtag('event', 'conversion', {'send_to': 'AW-428117831/nvb6CLam4PYBEMeekswB'});
    //- Facebook Code
    !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
    })( window,document, "script", "https://connect.facebook.net/en_US/fbevents.js" );
    fbq("init", "150769576889580");
    fbq("track", "PageView");

noscript
    img( height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=150769576889580&ev=PageView&noscript=1")