nav
    .nav
        .container
            .logo.f-1
                img(src="../images/logo.png", alt="My photo", width="150")
            ul.large-nav
                - var linkName  = ["من نحن", "خدماتنا",  "ما يميزنا", "أعمالنا","تواصل معنا"]
                - var linkUrl   = ['#','#','#','#','#']
                - var linkid    = ['about', 'service','why','port','contact']
                +hyperList(linkName, linkUrl, linkid)
            a(href="#" class="nav-btn") 
                i(class="fas fa-bars")
            .clr
            ul.small-nav
                +hyperList(linkName, linkUrl, linkid)