.btn {
  text-decoration: none;
  text-align: center;
  border: 2px solid #eee;
  padding: 20px;
}
.fixed-btn {
  font-size: 3.2rem;
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: 3%;
  color: #fff;
  background: #4BCA59;
  padding: 11px;
  border-radius: 50%;
}

.submit-btn{
  cursor: pointer;
}
.redrict-btn {
  background: #5dd2c2;
  padding: 19px;
  display: inline-block;
  margin: 30px;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}