.btn {
  text-decoration: none;
  text-align: center;
  border: 2px solid #eee;
  padding: 20px;
}
.fixed-btn {
  font-size: 3.2rem;
  position: fixed;
  z-index: 99999;
  bottom: 30px;
  right: 3%;
  color: #fff;
  background: #4BCA59;
  padding: 11px;
  border-radius: 50%;
}
