include ./mixins/mixins
doctype
html(lang="ar" dir="rtl")
    head
        -var title = "إتقان"; 
        include ./theme/head
    body
        #loading-screen
            #loader
        a(href="https://api.whatsapp.com/send?phone=+966550561364&text=Hello" target="_blank").fixed-btn
                i.fab.fa-whatsapp
        main
            include ./layouts/slide
            include ./layouts/aboutSection
            include ./layouts/serviceSection
            include ./layouts/quotesSection
            include ./layouts/portSection
            include ./layouts/contactSection
            //- include ./layouts/infoSection
            include ./theme/footer