section(class="about")
    div( class="container")
        .row
            .col-12.col-lg-5
                h2 من نحن
                p.f-c-5 إتقان مؤسسة سعودية تهدف لخدمة أصحاب الأعمال والمشاريع الضخمة والمتوسطة والناشأة أيضاً, بتقديم لهم أفضل الحلول التقنية لتحقيق أهدافهم.
            .col-md-12.col-lg-7.po-rel.about-img
                img(src="../images/about.png", alt="alt" data-tilt-axis="x" draggable="false").po-rel