section.contact
    div( class="container")
        h2 تواصل معنا
        p.col-12.col-lg-6.f-c-5 خدمة العملاء على استعداد كامل للرد على جميع استفساراتكم لا تتردد بالتواصل معنا
        .row
            .col-12.col-lg-6
                ul.contact-list
                    li.row
                        .col-12.col-lg-2.mb-2
                            span.icon
                                i.fas.fa-phone-alt
                        .col-12.col-lg-10.mt-4
                            h4.pb-2 رقم الجوال
                            h5 
                                 a(href="tel:+966550561364" dir="ltr") +966550561364
                    li.row.mt-5
                        .col-12.col-lg-2.mb-2
                            span.icon
                                i.fas.fa-envelope
                        .col-12.col-lg-10.mt-4
                            h4.pb-2 البريد الإلكترونى
                            h5 
                                a(href="mailto:power@gmail.com") sales@etiqan.com
            .col-12.col-lg-6
                .contact-form
                    form(id="contact_form" name="contact_form" action="" method="post" novalidate="novalidate")
                        input(type="text", name="form_name" placeholder="الاسم الكريم").d-block.input
                        input(type="tel", name="form_phone" placeholder="رقم الجوال").d-block.input
                        textarea(name="form_message" rows="10" placeholder="نص الرسالة").d-block.input
                        input(type="submit", value="إرسال").input