section.info.bg-2.pt-5
    .container
        h2 بيانات المؤسسه
        h3.mb-5 مؤسسة اتقان لعمل التصاميم
        .row
            .col-6.info-item
                .col-12.mb-2
                    span.icon
                        i.fas.fa-business-time
                .col-12.mt-4
                    h4.pb-2 سجل تجاري رقم :- 1011144889
            .col-6.info-item
                .col-12.mb-2
                    span.icon
                        i.fas.fa-map-marker-alt
                .col-12.mt-4
                    h4.pb-2 العنوان :- 
                        span 4618 طريق المل فهد, حي السلام, 7294
