section.port
    .container-fluid
        h2.mx-5 من أعمالنا
        .row
            .owl-carousel.owl-theme
                .item
                    a(href="#")
                        .item-img
                            img(src="../images/port/1.png")
                .item
                    a(href="#")
                        .item-img
                            img(src="../images/port/2.png")
                .item
                    a(href="#")
                        .item-img
                            img(src="../images/port/3.png")
                .item
                    a(href="#")
                        .item-img
                            img(src="../images/port/4.png")