section(class="service")
    .container-fluid.px-5
        h2.mx-5 خدمتنا
        .row.justify-content-center
            .col-12.col-lg.mb-5.mt-5
                .item
                    i.fas.fa-code
                    h3 تصميم مواقع إلكترونيه
                    ul 
                        li مواقع تعريفيه و عرض للخدمات
                        li مواقع تفاعلية
                        li مواقع لبيع المنتجات والدفع الالكتروني
            .col-12.col-lg.mb-5.mt-5
                .item
                    i.fab.fa-connectdevelop
                    h3 تصميم شعارات
                    p تصميم شعار (لوقو) مبتكر ومميز مخصص لنشاطك .
            .col-12.col-lg.mb-5.mt-5
                .item
                    i.fas.fa-desktop
                    h3 تصميم هوية بصرية 
                    ul
                        li بطاقة عمل (بزنس كارد)
                        li علب للتغليف مخصصة
                        li ملصقات للعلب
                        li منيو طعام
                        li بروفايل للشركة
                        
            .col-12.col-lg.mb-5.mt-5
                .item
                    i.fab.fa-black-tie
                    h3 تصميم العلامات التجارية
                    ul
                        li فواتير.
                        li ختم رسمي للمؤسسة.
                        li لوحة خارجية
                        li ظروف مراسلات
                        li ورق رسمي
                        li زي موحد
            .col-12.col-lg.mb-5.mt-5
                .item
                    i.fas.fa-mobile-alt
                    h3 برمجة وتصميم تطبيقات الجوال
                    ul 
                        li حل المشاكل التقنية ببرامج مخصصة
                        li إنشاء تطبيقات للهاتف المحمول (ايفون - اندرويد)

    .container-fluid.p-0.why.bg-2
        .row.p-0
            .col-12.col-lg-6.p-0
                img(src="../images/service.png" alt="alt").w-100.why-img
            .col-12.col-lg-6.f-c-5.px-5
                h2.p-1.f-c-5 ما يميزنا ؟
                .row
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-book-reader
                                |جودة وإتقان العمل .
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-comment-dollar
                                |أسعار منافسة .
                    .col-12.col-lg-6
                        .item.mb-5
                            h3 
                                i.fas.fa-stopwatch
                                |سرعة التنفيذ .
                    .col-12.col-lg-6
                        .item.mb-5.pb-lg-0.pb-5
                            h3 
                                i.fas.fa-user-astronaut
                                |خدمة عملاء 24/7 .
