header
    include ../theme/nav
    div.anim-bg
        ul 
            li
                img(src="../images/header/1.png")
            li
                img(src="../images/header/2.png")
            li
                img(src="../images/header/3.png")
            li
                img(src="../images/header/4.png")
            li
                img(src="../images/header/5.png")
            li
                img(src="../images/header/6.png")
            li
                img(src="../images/header/7.png")
        
    div( class="container slide")
        .row.justify-content-between
            .col-12.col-lg-6.slide-img
                img(src="../images/slide.png", alt="My photo").js-tilt
            .col-lg-6.col-12.f-c-1.slide-text.order-lg-last.order-first
                h1 إتقان
                h2 لخدمات التصاميم والتقنية