.port {
  max-width: 100%;
  h2 {
    font-size: 4rem;
    color: $color-2;
    margin: 50px 0;
    position: relative;
      &::after {
        bottom: -25px !important;
      }
  }
  &:hover {
    h2 {
      &::after {
        background: $color-1;
        width: 10% !important;
        bottom: -25px !important;
      }
    }
  }

  .slider-arrow {
    color: $color-2;
    font-size: 5rem;
    &:hover{
      color: $color-1;
      cursor: pointer;
    }
  }
  .slider-arrow-right{
    text-align: right;
  }
  .slider-arrow-left{
    text-align: left;
  }
}
